
#confession_error {
  color: red;
  display: none;
}

.width100 {
  width: 100%;
}

.profilePic {
  object-fit: cover;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.profilePicLarge {
  width:100px;
  height:100px;
}

.loading {
  width:40px
}


.praisebtn, .shamebtn, .praisebtn-color, .shamebtn-color {
  outline: none;
  margin-left:2em;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.praisebtn {
  margin-bottom: 6px;
  background: url('/img/praise.png') no-repeat;
  background-size: contain;
}

.praisebtn-color {
  margin-bottom: 6px;
  background: url('/img/praise-color.png') no-repeat;
  background-size: contain;
}

.shamebtn {
  margin-top: 6px;
  background: url('/img/shame.png') no-repeat;
  background-size: contain;
}

.shamebtn-color {
  margin-top: 6px;
  background: url('/img/shame-color.png') no-repeat;
  background-size: contain;
}


.praisebadge{
  position:absolute;
  top:0;
  left:0;
}

.shamebadge{
  position:absolute;
  bottom:0;
  left:0;
}

.vertical-align{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #3399ff;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #80bfff;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #66b3ff;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #3399ff;
  border-color: #1CA347;
}
.form-signup-heading {
  text-align: center;
}
#unella {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 10px 10px 52px #888888;
}
#unella-quote {
  font-family: 'Handlee', cursive;
  font-size: 200%;

}
.comment-holder {
  display: none;
}
