<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <h1>Atonr</h1>
        <p>Share Confessions</p>
      </div>

      <div id="unella-quote" class="col-md-6">
        <% if current_user %>
          <% if user_karma_tally(current_user) < 0 %>
          "<%= DO_GOOD_UNELLA_QUOTES.sample %>" 
          <% elsif user_karma_tally(current_user) > 0 %>
            "<%= DO_BAD_UNELLA_QUOTES.sample %>"
          <% else %>
            "Could you be more average?"
          <% end %>
        <% else %>
          "Log in, my child"

        <% end %>
        <br/> <em> - Septa Unella </em>
      </div>

      <div class="col-md-3">
        <img class="img-fluid" id="unella" src="/img/unella.jpg" />
      </div>
    </div>
  </div>
  <%= erb :'modal' %>

<!-- START OF FORM, may need to move to another file -->

<div class="row">
  <div class="col-sm-1">
    <button id="confession_submit" class="btn btn-default">Submit</button>  
  </div>
  <div class="col-sm-8">
    <form class="form-horizontal" id="confession_form">
      <input type="text" id="confession_summary" name="summary" class="form-control" rows="4" placeholder="What have you done, child?"/>
      <span id="confession_error">Your confession cannot be blank</span>
    </form>
  </div>
  </div>

  <br><br><br>
  <!-- END OF FORM -->
  <div id = deeds_container class="container">
    <%= erb :'deeds/_pagination', locals: {all_details: true, list: Deed.all.limit(MAX_SHOW).offset(session[:pagination_spot]).order(id: :desc)} %>
  </div>
  <img class="loading center-block hidden" id="deeds-loading-gif" src="/img/loader.gif"/>
  <br>
  <div id="footer" class="jumbotron hidden"><i><h2 class="text-center">-no more deeds-</h2></i></div>
</div>
