<header class="intro-header">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
              <h1 class="header-text-blur">aTonr</h1>
              <hr class="small">
              <span class="header-text-blur subheading">Share Confessions and Repent</span>
          </div>
      </div>
  </div>
</header>


<div class="container" id="main-content">
  <div class="row">
    <div id="unella-quote" class="col-md-8">
      <% if current_user %>
        <% if user_karma_tally(current_user) < 0 %>
        "<%= DO_GOOD_UNELLA_QUOTES.sample %>" 
        <% elsif user_karma_tally(current_user) > 0 %>
          "<%= DO_BAD_UNELLA_QUOTES.sample %>"
        <% else %>
          "Could you be more average?"
        <% end %>
      <% else %>
        "Log in, my child"

      <% end %>
      <br/> <em> - Septa Unella </em>
    </div>
    <div class="col-md-3">
      <img class="img-fluid" id="unella" src="/img/unella.jpg" />
    </div>
  </div>
  <br>

<%= erb :'modal' %>


<% if current_user && user_karma_tally(current_user) <= -50 %>
<div class="alert alert-danger">
 <a href="#" id="karma-alert-closer" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="row">
    <div class="col-sm-12">
      <h2 id="unella-quote" class="center-block text-center">Your karma seems awfully low, sinner. You my atone by donating to us in this convenient link.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-5 col-md-2">
      <button class="btn-lg btn-primary">ATONE</button>
    </div>
  </div>
</div>
<% end %>

  <div class="row">
    <div class="col-sm-1">
      <button id="confession_submit" class="btn-sm btn-primary">Confess</button>  
    </div>
    <div class="col-sm-9">
      <form class="form-horizontal" id="confession_form">
        <input type="text" id="confession_summary" name="summary" class="form-control" rows="4" placeholder="What have you done, child?"/>
        <span id="confession_error">Your confession cannot be blank</span>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <br>
      <img src="/img/loader.gif" class="loading center-block hidden" id="loader-gif-confession"/>
    </div>
  </div>


  <br><br><br>
  <!-- END OF FORM -->
<div id = "deeds_container">
    <%= erb :'deeds/_pagination', locals: {all_details: true, list: Deed.all.limit(MAX_SHOW).offset(session[:pagination_spot]).order(id: :desc)} %>
</div>
  <img class="loading center-block hidden" id="deeds-loading-gif" src="/img/loader.gif"/>
  <br>
</div>
<div id="footer" class="jumbotron hidden"><i><h2 class="text-center">-no more deeds-</h2></i></div>