<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    Add boothstrap! It already includes the normalized.
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!--
    Custom theme css
  -->
  <link rel="stylesheet" href="/stylesheets/theme.css">

  <!-- 
  Custom Fonts
   -->
   <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

  <!--
  Javascript
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title>aTonr</title>
</head>
<body>
  <header>
    <%= erb :'navbar' %>
  </header>
  <%= yield %>
</body>
</html>

