<div class="container">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Atonr
        </a>
      </li>
      <li>
        <a href="#">User Photo</a>
      </li>
      <li>
        <a href="#">Username</a> <!--Link to profile-->
      </li>
      <li>
        <a href="#">Karma Points</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</div>
