<!-- Red Alert -->
<div class="alert alert-danger fade in" id="vote-red" style="display:none">
  <a class="close" data-hide="alert" aria-label="close">&times;</a>
</div>


<!-- Yellow Alert -->
<div class="alert alert-warning fade in" id="vote-yellow" style="display:none">
  <a class="close" data-hide="alert" aria-label="close">&times;</a>
</div>


<!-- Blue Alert -->
<div class="alert alert-info fade in" id="vote-blue" style="display:none">
  <a class="close" data-hide="alert" aria-label="close">&times;</a>
</div>

<!-- Green Alert -->
<div class="alert alert-info fade in" id="vote-green" style="display:none">
  <a class="close" data-hide="alert" aria-label="close">&times;</a>
</div>
